<div id="distance_exercise" <%= @exercise.type ==  "DistanceExercise" ? "TRUE" : "class=hidden" %> >
	<%= f.input :distance %>
	<%= f.input :unit, :collection => Exercise.unit_options %>
	<%= f.input :hours %>
	<%= f.input :minutes %>
	<%= f.input :seconds %>
</div>
