<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Type</th>
		<th colspan=3><%= link_to 'New', new_exercise_path, remote: true, class: "btn btn-primary" %></th>
  </tr>

<% exercise_list.each do |exercise| %>
  <tr>
    <td><%= link_to exercise.name, exercise %></td>
    <td><%= exercise.title %></td>
    <td><%= exercise.type %></td>
    <td><%= link_to 'Do!', exercise, method: :put, class: "btn btn-primary" %></td>
    <td><%= link_to 'Edit', edit_exercise_path(exercise), class: "btn", remote: true %></td>
    <td><%= link_to 'Destroy', exercise, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= will_paginate exercise_list %>
