<h1>New exercise</h1>
<%= simple_form_for(@exercise, remote: true, html: {class: 'form-horizontal' }) do |f| %>
	<%= f.error_notification %>

	<%= f.input :name %>
	<%= f.input :type, :collection => Exercise.select_options %>
	<%= render partial: 'distance_exercise', locals: {f: f} %>
	<%= render partial: 'reps_exercise', locals: {f: f} %>
	<%= render partial: 'time_exercise', locals: {f: f} %>

	<%= f.input :visibility, :collection => Exercise.visibility_options %>

	<%= f.simple_fields_for :information do |builder| %>
		<%= render 'information_form', f: builder %>
	<% end %>
	
	<%= f.error :base %>
  <div class="form_buttons">
    <%= f.button :submit, class: 'btn btn-primary' %>
		<%= link_to 'Cancel', exercises_path, class: 'btn btn-danger' %>
  </div>
<% end %>
