<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @exercise.name %>
</p>

<p>
  <b>Title:</b>
  <%= @exercise.title %>
</p>

<p>
  <b>Type:</b>
  <%= @exercise.type %>
</p>
<p>
  <b>owner:</b>
  <%= @exercise.owner.username %>
</p>

<%= render :partial => "publish_button", :locals => {:exercise => @exercise} %>
<% if @exercise.owner == current_user %>
	<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<% end %>
<%= link_to 'Back', exercises_path %>
