<p id="notice"><%= notice %></p>

<div class="row-fluid">
<div class="span6">

<h1> <%= @exercise.name %> </h1>
</div>
<div class="span5">
</br>
<%if @exercise.owner == current_user %>
<p align="right">	
	<%= link_to 'Edit', edit_exercise_path(@exercise) %>
	<%= render :partial => "publish_button", :locals => {:exercise => @exercise} %>
	<%= link_to 'Destroy', @exercise, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
</p>
<%else%>
<p align="right">
	Owner:
	<%= link_to @exercise.owner.username, @exercise.owner %>
</p>
<% end %>
</div>
</br>
</br>
<div class="span3">
<%= image_tag("run.jpg")%>
</div>
<div class="span5">
<p>
  <b>title:</b>
  <%= @exercise.name %>
</p>

<p>
  <b>Type:</b>
  <%= @exercise.type %>
</p>
<p>
  <b>owner:</b>
  <%= @exercise.owner.username %>
</p>
</div>
</div>
<%= link_to 'Back', exercises_path %>
