<%= simple_form_for(@information, html: {class: 'form-horizontal' }) do |f| %>
	<%= f.error_notification %>
	
	<%= f.input :media %>
	<%= f.input :description, input_html: {:rows => 5} %>
	
	<%= f.error :base %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
		<%= link_to 'Cancel', information_index_path, class: 'btn btn-danger' %>
  </div>
<% end %>
