<tr id="trainings_session_<%= trainings_session.id %>">
	<% if likable && trainings_session.user_id != current_user.id %>
	<td id='likes_<%= trainings_session.id %>' class='likes_<%= trainings_session.id %> starable' >
		<% if Like.by_sessions(trainings_session.id).for_user(current_user.id).size == 0 %>
		<%= render :partial => 'likes/like_form', :locals => {likable: trainings_session} %>
		<% else %>
		<%= render :partial => 'likes/unlike', :locals => {:like => Like.by_sessions(trainings_session.id).for_user(current_user.id).first } %>
		<% end %>
	</td>
	<% elsif likable %>
	<td></td>
	<% end %>
	<td><%= link_to trainings_session.title, trainings_session %></td>
	<td><%= link_to trainings_session.owner.username, trainings_session.owner %></td>
	<td onclick="expand_trainings_session(<%= trainings_session.id %>)"><%= trainings_session.description %></td>
	<td><%= link_to 'Do!', {controller: "do_sessions", action: "new", do_session: {trainings_session_id: trainings_session.id, user_id: current_user.id}}, remote: true, class: "btn" %></td>
	<% if trainings_session.owner == current_user %>
		<td><%= link_to 'Edit', edit_trainings_session_path(trainings_session), class:"btn", remote: true %></td>
		<% if publishable %>
			<td><%= render :partial => "trainings_sessions/publish_button", :locals => {:trainings_session => trainings_session} %></td>
		<% end %>
		<td><%= link_to 'Destroy', trainings_session, method: :delete, class: "btn btn-danger", remote: true, data: { confirm: 'Are you sure?' } %></td>
	<% else %>
		<td></td>
		<% if publishable %>
			<td></td>
		<% end %>
		<td></td>
	<% end %>
</tr>
<tr style="display:none" class="<%= "trainings_session_#{trainings_session.id}" %> ">
	<td></td>
	<td colspan=6 >
		<table class="table table-striped">
			<tr>
				<th>Owner</th>
				<th>Name</th>
				<th>Type</th>
			</tr>
			<% trainings_session.exercises.each do |exercise| %>
			<tr>
				<td><%= exercise.owner.username %></td>
				<td><%= link_to exercise.name, exercise %></td>
				<td><%= exercise.type %></td>
			</tr>
			<% end %>
		</table>
	</td>
</tr>
<tr></tr>