<% new_button ||= false %>
<table class="table table-striped">
  <tr>
    <th>Title</th>	
    <th>Owner</th>
    <th>Description</th>
    <th colspan=5><%= link_to 'New', new_trainings_session_path, remote: true, class: "btn btn-primary" if new_button %></th>
  </tr>

<% trainings_sessions_list.each do |trainings_session| %>
  <tr>
    <td><%= link_to trainings_session.title, trainings_session %></td>
    <td><%= link_to trainings_session.owner.username, trainings_session.owner %></td>
    <td onclick="expand_trainings_session(<%= trainings_session.id %>)"><%= trainings_session.description %></td>
		<td><%= link_to 'Do!', {controller: "do_sessions", action: "new", do_session: {trainings_session_id: trainings_session.id, user_id: current_user.id}}, remote: true, class: "btn" %></td>

    <% if trainings_session.owner == current_user %>
	<td><%= link_to 'Edit', edit_trainings_session_path(trainings_session), class:"btn" %></td>
    <% end %>
	<td><%= link_to 'Destroy', trainings_session, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
  </tr>
	<tr style="display:none" class="<%= "trainings_session_#{trainings_session.id}" %> ">
		<td></td>
		<td colspan=6 >
			<table class="table table-striped">
				<tr>
					<th>Owner</th>
					<th>Name</th>
					<th>Type</th>
				</tr>
				<% trainings_session.exercises.each do |exercise| %>
					<tr>
						<td><%= exercise.owner.username %></td>
						<td><%= link_to exercise.name, exercise %></td>
						<td><%= exercise.type %></td>
					</tr>
				<% end %>
			</table>
		</td>
	</tr>
	<tr>
	</tr>
<% end %>
</table>

