<% new_button ||= false %>
<% likable ||= false %>
<% publishable ||= true %>
<% param_name ||= :page %>
<% search_path ||= trainings_sessions_path %>
<%= form_tag search_path, :method => 'get', :id => "trainings_sessions_search", class: "hidden" do %>
<% end %>
<table class="table table-striped">
	<thead>
		<tr>
			<% if likable %>
			<th>Star</th>
			<% end %>
			<th>Title</th>	
			<th>Owner</th>
			<th>Description</th>
			<th colspan=5><%= link_to 'New', new_trainings_session_path, remote: true, class: "btn btn-primary" if new_button %></th>
		</tr>
		<tr>
			<% if likable %>
			<th></th>
			<% end %>
			<th>
				<%= text_field_tag :search_title, params[:search_title], id: "title_search", class: "exercises_search_select" %>
			</th>	
			<th>
				<%= text_field_tag :search_owner, params[:search_ower], id: "owner_search", class: "exercises_search_select" %>
			</th>
			<th>
				<%= text_field_tag :search_description, params[:search_description], id: "description_search", class: "exercises_search_select" %>
			</th>
			<th colspan=5></th>
		</tr>
	</thead>
	<tbody id="trainings_sessions">
		<%= render :partial => 'trainings_sessions/trainings_sessions', :locals => {trainings_sessions_list: trainings_sessions_list, likable: likable, new_button: new_button, publishable: publishable }  %>
	</tbody>
</table>
<div id="trainingsessions_pagination">
	<%= render :partial => 'trainings_sessions/pagination', locals: {trainings_sessions_list: trainings_sessions_list, param_name: param_name} %>
</div>
