<h1>Listing trainings_sessions</h1>

<table class="table">
  <tr>
    <th>Owner</th>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>

<% @trainings_sessions.each do |trainings_session| %>
  <tr>
    <td><%= link_to trainings_session.owner.username, trainings_session.owner %></td>
    <td><%= link_to trainings_session.title, trainings_session %></td>
    <td onclick="expand_trainings_session(<%= trainings_session.id %>)"><%= trainings_session.description %></td>
    <td><%= link_to 'Edit', edit_trainings_session_path(trainings_session), class:"btn" %></td>
    <td><%= link_to 'Destroy', trainings_session, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
  </tr>
	<tr style="display:none" class="<%= "trainings_session_#{trainings_session.id}" %> ">
		<td></td>
		<td></td>
		<td>
			<table class="table table-striped">
				<tr>
					<th>Owner</th>
					<th>Name</th>
					<th>Type</th>
				</tr>
				<% trainings_session.exercises.each do |exercise| %>
					<tr>
						<td><%= exercise.owner.username %></td>
						<td><%= link_to exercise.name, exercise %></td>
						<td><%= exercise.type %></td>
					</tr>
				<% end %>
			</table>
		</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
	</tr>
<% end %>
</table>

<br />

<%= link_to 'New Trainings session', new_trainings_session_path %>
