<% content_for :body_tag do %>
  itemscope itemtype="http://schema.org/Event"
<% end %>

<% @graph_data.each do |id, data| %>
	<%= render :partial => "graph", :locals => {div_id: id, data: data} %>
	<% end %>

<!-- Update your html tag to include the itemscope and itemtype attributes. -->
<html itemscope itemtype="http://schema.org/Event">


<p id="notice"><%= notice %></p>
<div class="row-fluid">
	<div class="span6">
		<h1><span itemprop="name"><%= @trainings_session.title %></span></h1>
	</div>
	<div class="span5">
	</br>
	<p align="right">
		<%= link_to 'Do!', {controller: "do_sessions", action: "new", do_session: {trainings_session_id: @trainings_session.id, user_id: current_user.id}}, remote: true, class: "btn btn btn-success" %>
		<% if @trainings_session.owner == current_user %>
		<%= link_to 'Edit', edit_trainings_session_path(@trainings_session), class:"btn", remote: true %> 
		<%= link_to 'Destroy', @trainings_session, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
		<%= render :partial => "trainings_sessions/publish_button", :locals => {:trainings_session => @trainings_session} %>
		<% else %>
		Owner:
		<%= link_to @trainings_session.owner.username, @trainings_session.owner %>
		<% end  %>
	</p>
</div>
<!-- Place this tag where you want the share button to render. -->
<div class="g-plus" data-action="share"></div>

<!-- Place this tag after the last share tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
	
	
<div class="row-fluid">
		<div class="span12">
			<p>
				<b>Description:</b>
			</br>
			<span itemprop="description"><%= @trainings_session.description %></span>
		</p>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
	</br>
	<b>Exercises:</b> 
</br>
<td>
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>Type</th>
			<th>Owner</th>
		</tr>
		<% @trainings_session.exercises.each do |exercise| %>
		<tr>
			<td><%= link_to exercise.name, exercise %></td>
			<td><%= exercise.type %></td>
			<td><%= exercise.owner.username %></td>
		</tr>
		<% end %>
	</table>
</td>
</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<h5>Progression</h5>
		<div id="tabs">
			<ul>
				<% @graph_data.each do |id, data| %>
				<li><a href="#tabs-<%= id %>"><%= Exercise.find_by_id(id).name %></a></li>
				<% end %>
			</ul>
			<% @graph_data.each do |id, data| %>
			<div id="tabs-<%= id %>">
			</div>
			<% end %>
		</div>
	</div>
</div>
</div>
<%= link_to 'Edit', edit_trainings_session_path(@trainings_session) %> |
<%= link_to 'Back', trainings_sessions_path %>
