<% @graph_data.each do |id, data| %>
	<%= render :partial => "graph", :locals => {div_id: id, data: data} %>
<% end %>

<p id="notice"><%= notice %></p>
<div class="row-fluid">
<div class="span6">
<h1> <%= @trainings_session.title %></h1>
</div>
<div class="span5">
</br>
 <p align="right">
<%= link_to 'Do!', {controller: "do_sessions", action: "new", do_session: {trainings_session_id: @trainings_session.id, user_id: current_user.id}}, remote: true, class: "btn" %>
<% if @trainings_session.owner == current_user %>
   <%= link_to 'Edit', edit_trainings_session_path(@trainings_session), class:"btn", remote: true %> 
   <%= link_to 'Destroy', @trainings_session, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
   <%= render :partial => "trainings_sessions/publish_button", :locals => {:trainings_session => @trainings_session} %>
<% else %>
	Owner:
	<%= link_to @trainings_session.owner.username, @trainings_session.owner %>
<% end  %>
</p>
</div>
<div class="span11">
<p>
 <b>Description:</b>
 </br>
 <%= @trainings_session.description %>
</p>
</div>


<div class="span11">
</br>
<b>Exercises:</b> 
</br>
<td>
                        <table class="table table-striped">
                                <tr>
                                        <th>Name</th>
                                        <th>Type</th>
					<th>Owner</th>
                                </tr>
                                <% @trainings_session.exercises.each do |exercise| %>
                                        <tr>
                                                <td><%= link_to exercise.name, exercise %></td>
                                                <td><%= exercise.type %></td>
						<td><%= exercise.owner.username %></td>
                                        </tr>
                                <% end %>
                        </table>
                </td>
</div>
<div class="row-fluid">
	<div class="span12">
		<h5>Progression</h5>
		<div id="tabs">
			<ul>
				<% @graph_data.each do |id, data| %>
					<li><a href="#tabs-<%= id %>"><%= Exercise.find_by_id(id).name %></a></li>
				<% end %>
			</ul>
			<% @graph_data.each do |id, data| %>
				<div id="tabs-<%= id %>">
				</div>
			<% end %>
		</div>
	</div>
</div>
</div>
<%= link_to 'Edit', edit_trainings_session_path(@trainings_session) %> |
<%= link_to 'Back', trainings_sessions_path %>
