<p id="notice"><%= notice %></p>

<p>
  <b>Original:</b>
  <%= image_tag @image.original %>
</p>



<p>
  <b>Small square:</b>
  <%= image_tag @image.small_square %>
</p>

<p>
  <b>Large thumbnail:</b>
  <%= image_tag @image.large_thumbnail %>
</p>


<p>
  <b>Imagur page:</b>
  <%= @image.imagur_page %>
</p>

<p>
  <b>Delete page:</b>
  <%= @image.delete_page %>
</p>


<p>
  <b>Delete link:</b>
	<%= link_to 'Destroy', @image, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
