<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.username %>
</p>

<p>
  <b>email:</b>
  <%= @user.email %>
</p>

<% @user.user_login_services.each do |user_service| %>
	<p>
	  <b>provider:</b>
	  <%= user_service.provider %>
	</p>
	
	<p>
	  <b>login:</b>
	  <%= user_service.login %>
	</p>
	<p>
	  <b>uid:</b>
	  <%= user_service.uid %>
	</p>
	<p>
	  <b>acces_token:</b>
	  <%= user_service.acces_token %>
	</p>
	<p>
	  <b>refresh_token:</b>
	  <%= user_service.refresh_token %>
	</p>
	<p>
	  <b>token_expiration:</b>
	  <%= user_service.token_expiration %>
	</p>
	<p>
	  <b>image:</b>
	  <%=image_tag user_service.image %>
	</p>
	<p>
	  <b>profile_link:</b>
	  <%=link_to  "#{user_service.provider} profile", user_service.profile_link %>
	</p>
<% end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>