<p id="notice"><%= notice %></p>
<div class="row-fluid" >
<div class="row">
	<div class="profile_image offset1 span2" >
		<%= image_tag profile_picture(@user) %>
		<br/>
		<%= render :partial => 'follow' %>
	</div>
	<div class="span9">
		<div class="user_info">
			<h1> <%= @user.username %> </h1>
			<p>
				<b>Name:</b>
				<%= @user.username %>

			</p>
			<p>
				<b>email:</b>
				<%= @user.email %>
			</p>
			<% @user.user_login_services.each do |user_service| %>
					<p>
						<b>Link to Google+ profile:</b>
						<%=link_to  "#{user_service.provider} profile", user_service.profile_link %>
					</p>
			<% end %>
			<% if @user == @current_user %>
				<%= link_to 'Edit', edit_user_path(@user) %> |
			<% end %>
			<%= link_to 'Back', users_path %>
		</div>
	</div>
</div>

<div class="span6">
<h5> Upcomming Events </h5>
		<%= render ('pages/upcomming_events') %>
</div>

<div class="span5">
<h5> Recently passes events </h5>
	<%= render ('pages/past_events') %>
</div>
<div class="span11">
<% if @exercises.empty? %>
        <p>You have not yet created an exercise. Create your own <%= link_to "exercises", new_exercise_path %> </p>
<% else %>
        <h2>My Exercises</h2>
        <%= render :partial => "exercises/exercise_list", :locals => {:exercise_list => @exercises, :publishable => true, :param_name => :my_exercises_page} %>
<% end %>
</div>
<div class="span11">
<% if @user.friends.empty? %>
	<p>You are not following anyone that published exercises. Look for more <%= link_to "friends", users_path %> to follow </p>
<% elsif @followers_exercises.empty? %>
	<p>None of you friends has published any exercises. Look for more <%= link_to "friends", users_path %> to follow </p>
<% else %>
	<h2>Followed Exercises</h2>
	<%= render :partial => "exercises/exercise_list", :locals => {:exercise_list => @followers_exercises, :param_name => :followers_page} %>
<% end %>
</div>
<br/>
<div class="span11">
<% if @trainings_sessions.empty? %>
        <p>You have not yet created an exercise. Create your own <%= link_to "training sessions", new_trainings_session_path %> </p>
<% else %>
        <h2>My Sessions </h2>
        <%= render :partial => "trainings_sessions/trainings_sessions_list", :locals => {:trainings_sessions_list => @trainings_sessions, :publishable => true, :param_name => :my_sessions_page } %>
<% end %>
</div>
<div class="span11">
<% if @user.friends.empty? %>
        <p>You are not following anyone that published trainings sessions. Look for more <%= link_to "friends", users_path %> to follow </p>
<% elsif @followers_sessions.empty? %>
        <p>None of you friends has published any trainings sessions. Look for more <%= link_to "friends", users_path %> to follow </p>
<% else %>
        <h2>Followed Sessions</h2>
        <%= render :partial => "trainings_sessions/trainings_sessions_list", :locals => {:trainings_sessions_list => @followers_sessions, :param_name => :followers_page} %>
<% end %>
</div>

</div>
