<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user_login_service.user %>
</p>

<p>
  <b>Provider:</b>
  <%= @user_login_service.provider %>
</p>

<p>
  <b>Uid:</b>
  <%= @user_login_service.uid %>
</p>

<p>
  <b>Login:</b>
  <%= @user_login_service.login %>
</p>

<p>
  <b>Acces token:</b>
  <%= @user_login_service.acces_token %>
</p>


<%= link_to 'Edit', edit_user_login_service_path(@user_login_service) %> |
<%= link_to 'Back', user_login_services_path %>
