<%= simple_form_for(@do_exercise, html: {class: 'form-horizontal' }, remote: true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.input :visibility %>
    <%= f.input :distance %>
    <%= f.input :reps %>
    <%= f.input :hours %>
    <%= f.input :minutes %>
    <%= f.input :seconds %>
    <%= f.association :exercise %>
    <%= f.association :do_session %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
<% end %>
